**/bin/
**/obj/
artifacts/
deps/
/docs/*
!/docs/api/
/docs/api/*
!/docs/api/*.md
/scripts/*
!/scripts/verify-package.py
!/scripts/verify.sh
/tests/
/tools/*
!/tools/Gslint/
/tools/Gslint/*
!/tools/Gslint/Gslint.csproj
!/tools/Gslint/packages.lock.json
!/tools/Goo.Animations.ApiDocs/
/tools/Goo.Animations.ApiDocs/*
!/tools/Goo.Animations.ApiDocs/Goo.Animations.ApiDocs.csproj
!/tools/Goo.Animations.ApiDocs/Program.cs
!/tools/Goo.Animations.ApiDocs/packages.lock.json
.vs/
.idea/
.env
.env.*
*.user
*.suo
*.nupkg
*.snupkg
*.lscache
**/__pycache__/
