**/bin/
**/obj/
artifacts/
deps/
/docs/
/scripts/*
!/scripts/verify-package.py
!/scripts/verify.sh
/tests/
/tools/*
!/tools/Gslint/
/tools/Gslint/*
!/tools/Gslint/Gslint.csproj
!/tools/Gslint/packages.lock.json
.vs/
.idea/
.env
.env.*
*.user
*.suo
*.nupkg
*.snupkg
*.lscache
**/__pycache__/
